@{
    ViewBag.Title = "Registration";
}
<style type="text/css">
    td[colspan] {
        text-align: center;
    }
</style>
@section Header {
<h4>Registration</h4>
    }
@using (Html.BeginForm())
{
    @Html.TextArea("myTextArea", "Avalue", 5, 10, null)
    <table>
        <tr>
            <td>Name:</td>
            <td>@Html.Editor("Name")</td>
        </tr>
        <tr>
            <td>Age:</td>
            <td>@Html.Editor("Age")</td>
        </tr>
        <tr>
            <td>City:</td>
            <td>@Html.Editor("HomeCity")</td>
        </tr>
        <tr>
            <td>Competition:</td>
            <td>
                @Html.DropDownList("CompetitionID", new SelectList(ViewBag.Competitions, "Id", "Name"))  @*specific as to id and value*@
            </td>
        </tr>
        <tr>
            <td>A list:</td>
            <td>
                @Html.DropDownList("ADropdown", new SelectList(ViewBag.ADropdown, "Value", "Text" ))  @*specific as to id and value*@
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Register" /></td>
        </tr>
    </table>
}
@section Footer {
    x
    }
