<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-2.0.3.min.js"></script>
    <style type="text/css">
        table {
            border: thin solid black;
        }

        th {
            background-color: Gray;
            color: White;
            padding: 5px;
            text-align: left;
        }

        td {
            padding: 5px;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $('tr:even').css('background-color', '#CCCCCC');
        });
    </script>
</head>
<body>
    <h1>A layout2</h1>
    @RenderSection("Header", required:false)
    <hr />
    <div>
        @RenderBody()
    </div>
    <hr />
    @RenderSection("Footer", required:false)
</body>
</html>
